*{margin:0; padding:0; outline:none; border:none;}
ul{list-style:none;}
img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{text-decoration:none;}
.inner-body{background:#fff; display:inline-block; width:100%;}
body.inner-clr{background:#fff;}
.main{float:left; width:100%;}

.main-wapper{float:left; width:100%;}

.header-wapper{float:left; width:100%;}

.section-wapper{float:left; width:100%;}

.footer-wapper{float:left; width:100%;}

.container{margin:0 auto; width:550px !important;}
.inner{width:100% !important; display:inline-block;}
.crs{background-image:url(../images/cross.png); background-repeat:no-repeat; background-position:center top 47px;}
.bg{margin:0 auto; width:640px; background:#0fb0ee;}

.header{display:inline-block; width:100%;}

.backg{margin:0 auto; width:640px; background:#0fb0ee;}
.backng{margin:0 auto; width:640px;}
.wapper{float:left; width:100%; background:#0fb0ee;}

.logo{display:inline-block; width:100%; text-align:center; margin:136px 0 38px 0; padding:136px 0 0 0;}

.logo img{display:inline-block; width:auto;}

.logo-txt{display:inline-block; width:100%; text-align:center; margin:0 0 33px 0;}

.logo-txt img{display:inline-block; width:auto;}

.ldr{display:inline-block; width:100%; text-align:center; padding:0 0 157px 0; margin:0 0 175px 0;}

.ldr img{display:inline-block; width:auto;}

.iner-btn{margin:0 0 100px 0; padding:0 0 97px 0;}
.inner-cnt{display:inline-block; width:100%; text-align:center; margin:0 0 22px 0;}
.inner-cnt p{display:inline-block; width:100%; font-size:20px; line-height:33px; font-family: 'ArialMT'; margin:0 0 22px 0;}
.iner-btn{display:inline-block; width:100%; text-align:center;}
.iner-btn a{display:inline-block; width:auto; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#1565c0; padding:9px 36px 10px 37px; box-shadow:0 5px 5px #67a3e7;}
.iner-btn a:hover{text-decoration:none;}

.inr-hdr{display:inline-block; width:100%; background:#2196f3; box-shadow:0 5px 5px #c1d9ec;}
.inr-hdr-cnt{display:inline-block; width:100%; padding:7px}
.inr-hdr-cnt p{display:inline-block; width:100%; font-size:31px; color:#fff; font-family: 'Roboto-Regular'; margin:0;}
.inr-hdr-cnt span{display:inline-block; width:100%; font-size:17px; color:#fff; font-family: 'Roboto-Regular';}

.inr-sec-cnt{display:inline-block; width:100%; text-align:center;}
.inr-sec-cnt p{display:inline-block; width:100%; font-size:20px; color:#484848; font-family: 'ArialMT'; margin:53px 0 0 0;}

.inr-sec-backg{display:inline-block; width:100%; text-align:center; margin:63px 0 0 0; padding:54px 0 0 0;}
.bck{display:inline-block; width:100%; background:url(../images/backg.png) no-repeat center center; background-size:contain;}
.bck-usr{display:inline-block; width:100%; background:url(../images/user.png) no-repeat center center; padding:43px 0 99px 0; background-size:contain;}
.bck-crr{display:inline-block; width:100%; background-size:contain; background:url(../images/career.png) no-repeat center center; padding:55px 0 99px 0;}
.hd-jk{display:inline-block; width:100%; background-size:contain; background:url(../images/haed-phone-two.png) no-repeat center center; padding:60px 0 99px 0;}
.rnd{display:inline-block; width:100%; padding:120px 0 60px 0;}
.rp{display:inline-block; width:100%; padding:105px 0 60px 0;}
.cmr-bck p{font-size:20px; color:#616161; line-height:33px; font-family: 'Roboto-Medium'; display:inline-block; width:100%; background:#fff; margin:0;}

.hd-jk-two{display:inline-block; width:100%; background-size:contain; background:url(../images/haed-phone.png) no-repeat center center; padding:60px 0 99px 0;}
.hd-jk-thr{display:inline-block; width:221px; background:url(../images/haed-phone-three.png) no-repeat center center; padding:77px 0 99px 0;}
.hy-dmg{display:inline-block; width:262px; background:url(../images/heart.png) no-repeat center center; padding:77px 0 99px 0;}

.bck-fsl{display:inline-block; width:213px; background:url(../images/flash.png) no-repeat center center; padding:95px 0 99px 0;}

.brgh{display:inline-block; width:100%; background:url(../images/bright.png) no-repeat center center; padding:67px 0 99px 0;}

.mlth{display:inline-block; width:170px; background:url(../images/line.png) no-repeat center center; padding:105px 0 120px 0;}

.sngl{display:inline-block; width:100%; background:url(../images/sngl.png) no-repeat center center; padding:155px 0 153px 0;}

.spkr{display:inline-block; width:213px; background:url(../images/speaker.png) no-repeat center center; padding:67px 0 99px 0;}
.usb{display:inline-block; width:213px; background:url(../images/usb.png) no-repeat center center; padding:67px 0 99px 0;}
.usb-pwr{display:inline-block; width:213px; background:url(../images/btr-one.png) no-repeat center center; padding:115px 0 99px 0;}
.usb-pwr-two{display:inline-block; width:213px; background:url(../images/btr-two.png) no-repeat center center; padding:115px 0 99px 0;}
.usb-pwr-thr{display:inline-block; width:213px; background:url(../images/btr-thr.png) no-repeat center center; padding:115px 0 99px 0;}
.vbr{display:inline-block; width:213px; background:url(../images/vbr.png) no-repeat center center; padding:67px 0 99px 0;}
.vlm{display:inline-block; width:100%; background:url(../images/vlm.png) no-repeat center center; padding:67px 0 99px 0;}
.wtr-dmg{display:inline-block; width:213px; background:url(../images/wtr-dmg.png) no-repeat center center; padding:105px 0 99px 0;}


.bck-csm{display:inline-block; width:245px; background:url(../images/csmt.png) no-repeat center center; padding:75px 0 99px 0;}
.bck-fgr{display:inline-block; width:245px; background:url(../images/finger.png) no-repeat center center; padding:105px 0 99px 0;}
.hm-btn{display:inline-block; width:100%; background-size:contain; background:url(../images/home.png) no-repeat center center; padding:66px 0 99px 0;}

.prx{display:inline-block; width:100%; background-size:contain; background:url(../images/cross-line.png) no-repeat center center; padding:66px 0 99px 0;}

.prx-two{display:inline-block; width:100%; background-size:contain; background:url(../images/right-line.png) no-repeat center center; padding:88px 0 99px 0;}

.slnt{display:inline-block; width:100%; background-size:contain; background:url(../images/silent-mode.png) no-repeat center center; padding:88px 0 99px 0;}

.sm-crd{display:inline-block; width:100%; background-size:contain; background:url(../images/sim-card.png) no-repeat center center; padding:88px 0 99px 0;}

.sm-crd-two{display:inline-block; width:100%; background-size:contain; background:url(../images/sim-card-tw.png) no-repeat center center; padding:88px 0 99px 0;}

.sm-crd-thr{display:inline-block; width:100%; background-size:contain; background:url(../images/sim-card-thr.png) no-repeat center center; padding:88px 0 99px 0;}

.mrcn{display:inline-block; width:100%; background:url(../images/little-back.png) no-repeat center center; padding:10px 0;}

.ph-cl{display:inline-block; width:100%;  background:url(../images/phone.png) no-repeat center center; padding:80px 0;}

.bck p{display:inline-block; width:100%; text-align:center; font-size:25px; color:#666; font-family: 'MyriadPro-Regular'; padding:64px 0; margin:64px 0;}

.bckg p{display:inline-block; width:100%; text-align:center; font-size:20px; font-weight:bold; color:#666; font-family: 'Roboto-Medium' padding:24px 0; margin:140px 0; background:#fff;}
.mrcn p{display:inline-block; width:100%; font-size:23px; line-height:26px; font-family: 'ArialMT'; margin:20px 0;}

.bck-usr-btm a{display:inline-block; width:213px; font-size:18px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#2196f3; padding:9px 0 10px 0; box-shadow:3px 5px 5px #c8e2f6; margin:89px 0 0 0;}

.inr-ftr-btn{margin:86px 0 70px 0; text-align:center; padding:0 0 71px 0;}
.btm-tn .inr-ftr-btn{margin:45px 0 35px 0; text-align:center; padding:0 0 71px 0;}
.inr-ftr-btn a.ps{display:inline-block; width:190px; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#1565c0; padding:9px 36px 10px 37px; box-shadow:5px 5px 5px #cab9b4; margin:85px 0 0 0;}

.btm-tn .inner-cnt{margin:0 0 0 0; padding:0 0 48px 0;}
.inr-ftr-btn a.clr{display:inline-block; width:190px; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#2196f3; padding:9px 36px 10px 37px; box-shadow:5px 5px 5px #cab9b4; margin:85px 0 0 0;}

.inr-ftr-btn a.rd{display:inline-block; width:190px; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#ff5722; padding:9px 36px 10px 37px; box-shadow:5px 5px 5px #cab9b4; margin:85px 23px 0 0;}

.btm-tn .inr-ftr-btn a.clr{display:inline-block; width:190px; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#2196f3; padding:9px 36px 10px 37px; box-shadow:5px 5px 5px #cab9b4; margin:85px 0 0 0;}

.btm-tn .inr-ftr-btn a.rd{display:inline-block; width:190px; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#ff5722; padding:9px 36px 10px 37px; box-shadow:5px 5px 5px #cab9b4; margin:85px 23px 0 0;}


.inr-ftr-btn a.fl{display:inline-block; width:368px; font-size:20px; color:#fff; text-transform:uppercase; font-family: 'Roboto-Medium'; background:#ff5722; padding:9px 36px 10px 37px; box-shadow:5px 5px 5px #cab9b4; margin:85px 23px 0 0;}

.body-wapper{display:inline-block; width:100%; background:url(../images/cross.png) no-repeat center center;}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin:84px 0 0 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: 0;
  bottom: -4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  z-index:1; position:absolute;

}

.slider.round:before {
  border-radius: 50%;
	  box-shadow:0 5px 5px #acacac;
	  
}





.bck-usr-btm{display:inline-block; width:355px; margin:40px 0 0 0;}
.bck-usr-btm-vlm{display:inline-block; width:355px; margin:40px 0 0 0;}
.bck-usr-btm ul{display:inline-block; width:100%; margin:0; padding:0;}
.bck-usr-btm ul li{display:inline-block; width:100%; text-align:left; font-size:25px; margin:32px 0; font-family: 'Roboto-Regular'; font-weight:400;}
.bck-usr-btm ul li span{margin:0 25px 0 0;}
.bck-usr-btm p{margin:0; font-size:21px; font-family: 'ArialMT'; font-weight:600;}
.txt .bck-usr-btm{display:inline-block; width:355px; margin:40px 0 0 0;}
.txt .bck-usr-btm p{margin:0; font-size:21px; font-family: 'ArialMT'; font-weight:600; width:100%;}














