@media only screen and (max-width:640px)
{
	.container, .backg, .backng, .bg{width:100% !important;}
.inner-body{background:#0fb0ee; display:inline-block; width:100%;}
body.inner-clr{background:#0fb0ee;}

	
}

@media only screen and (max-width:480px){
	.inr-ftr-btn a.rd, .inr-ftr-btn a.ps, .inr-ftr-btn a.clr, .btm-tn .inr-ftr-btn a.clr, .btm-tn .inr-ftr-btn a.rd{margin:0 10px 0 0; width:170px;}
	.inr-btn a.tst, .inr-btn a.mnl{width:90%; font-size:18px;}
	.header-wapper{text-align:left;}
	.backg{width:100% !important; display:inline-block;}
	.bck-fgr{margin:50px 0 0 0;}
	.inr-hdr-cnt span{font-size:14px;}
	.logo-txt img{width: 75%;}
	.logo img{width: 30%;}
	.bck-usr-btm, .bck-usr-btm-vlm{width:75%;}
	.txt .bck-usr-btm{width:90%;}
	.inner{margin:250px 0 0 0;}
	.bg{width:100% !important;}	
	.logo{margin:80px 0 38px 0;}
	.zr .logo{margin:50px 0 38px 0; padding: 0;}
	.ldr{padding:0; margin:0;}
	.crs{background-position:center top -30px;}
	.mn-blk{background:#f90;}
	.inner-cnt .inr-sec-cnt p{font-size:20px;}
	.bck-usr-btm a{font-size:18px;}
	.dsc{width:100%; display:inline-block; text-align:center;}
	.inr-dsc{display:inline-block; width:80%;}
	.dsc .inr-dsc .inner-cnt p{font-size:18px; width:100%; line-height:33px; margin:0 0 15px 0;}
}

@media only screen and (max-width:420px){
	.inr-hdr-cnt p{font-size:22px;}
	.inr-ftr-btn a.fl{width:90%; margin:0;}
	.inr-sec-backg{margin:0;}
	.btm-tn .inr-ftr-btn{padding:0; margin:15px 0; position:relative; width:100%;}
	.inr-ftr-btn{padding:0; margin:15px 0; position:fixed; bottom:0; left:0; width:100%;}
	.bck-usr-btm a{margin:30px 0 0 0; font-size:16px;}
	.bck-fgr{margin:30px 0 0 0;}
	.bckg p{margin:70px 0;}
	.switch{margin:30px 0 0 0;}
	.iner-btn{margin:45px 0; padding:6px 0;}
	.fr .iner-btn{margin:0; padding:6px 0;}
	.bck-usr{margin:50px 0 0 0;}
	.bck-fsl, .hd-jk, .hd-jk-thr{background-size:contain; width:50%; padding:72px 0;}
	.bck-fsl{background-size:contain; width:50%; padding:72px 0; margin:60px 0 0 0;}
	.hy-dmg{background-size:contain; width:50%; padding:72px 0; margin:60px  0 0 0;}
	.hd-jk, .hd-jk-two , .hd-jk-thr, .prx, .prx-two, .slnt, .sm-crd, .sm-crd-two, .sm-crd-thr, .usb, .usb-pwr, .usb-pwr-two, .usb-pwr-thr, 					.vbr{background-size:contain; width:50%; padding:72px 0; margin:60px 0 0 0;}
	.mlth{background-size:contain; width:50%; padding:145px 0; margin:10px 0 0 0;}
	.sngl{background-size:contain; width:100%; padding:134px 0; margin:36px 0 0 0;}
	.wtr-dmg{background-size:contain; width:50%; padding:72px 0; margin:0 0 0 0;}
	.body-wapper{background-position:top -200px;}
	.btm-tn .inner-cnt{padding:0;}
	.bck-crr{padding:134px 0 99px 0;}
	.bck-csm{ margin:50px 0 0 0;}
	.bck-usr-btm a.clr{margin:150px 0 0 0;}
	.hm-btn{margin:60px 0 0 0;}
	.ph-cl{margin:50px 0 0 0;}
	.inner-cnt .inr-sec-cnt p{font-size:20px;}
	.bck-usr-btm ul li{margin:20px 0; font-size:18px;}
	
}


@media only screen and (max-width:360px){
	.inr-hdr-cnt span{font-size:12px;}
	.inr-btn a.tst, .inr-btn a.mnl {
    width: 90%;
    font-size: 14px;
}
	.inr-sec-backg, .inner-cnt{margin:0;}	
	.bck{width:100%; margin:25px 0 0 0;}
	.bck p{margin:80px 0; padding:0 0; font-size:14px;}
	.bck-fsl{background-size:contain; width:50%; padding:40px 0; margin:60px 0 0 0;}
	.mlth{margin:25px 0 0 0; padding:130px 0; background-size:contain;}
	.ph-cl{background-size:contain; width:50%; padding:40px 0; margin:55px 0 0 0;}
	.logo img{width:30%;}
	.bck-usr{margin:0;}
	.inr-sec-backg{padding:25px 0 0 0;}
	.btm-tn .inr-ftr-btn a.clr, .btm-tn .inr-ftr-btn a.rd{width:140px;}
	.btm-tn .inr-ftr-btn{padding:0; margin:0 0 10px 0;}
	.bck-csm{background-size:contain;  margin:50px 0 0 0;}
	.bck-fgr{margin:45px 0 0 0;}
	.inr-ftr-btn a.rd, .inr-ftr-btn a.ps, .inr-ftr-btn a.clr{margin:0 10px 0 0; width:140px; font-size:16px;}
	.wtr-dmg{background-size:contain; width:35%; padding:35px 0 0 0; margin:0 0 0 0;}
	.mrcn{background-size:contain; width:99%;}
	.inner{margin:30px 0 0 0;}
.inner{margin:150px 0 0 0; display:inline-block;}
.inner .logo img{width:70%;}
.inner .logo-txt img{width:100%;}
.inner .ldr img{width:30%;}
.crs{background-position:center top -38px;}
.rnd{padding:146px 0 60px 0;}
.rp{padding:130px 0 60px 0;}
.mrcn p{font-size:18px;}
}

@media only screen and (max-width:320px){
	.bck-usr-btm a{font-size:14px;}
	.zr .logo{margin:20px 0 16px 0;}
	.mlth{padding:135px 0;}
.logo{margin:10px 0 38px 0;}
.inr-sec-cnt p{margin:40px 0 0 0;}
.inner{margin:30px 0 0 0;}
.bck-fgr{background-size:contain; width:50%; padding:50px 0;}
.bck-fsl{background-size:contain; width:50%; padding:50px 0; margin:30px 0 0 0;}
.bck-csm{background-size:contain; width:50%; padding:50px 0; margin:50px 0 0 0;}
.inr-ftr-btn{margin:18px 0;}
.inr-sec-backg{padding:10px 0 0 0;}
.inr-sec-backg{margin:0;}
.inner-cnt p{font-size:14px; line-height:20px; width:100%;}
.rp, .cmr-bck p{font-size:18px; line-height:30px !important;}
.backg .iner-btn{margin:23px 0;}
.hm-btn{background-size:contain; width:50%; padding:50px 0; margin:30px 0 0 0;}
.bck-usr{width:35%; padding:43px 0 25px 0; margin:25px 0 0 0;}
.bck-usr-btm a.clr{margin:90px 0 0 0;}
.hd-jk, .hd-jk-two, .hd-jk-thr, .prx, .prx-two, .slnt, .sm-crd, .sm-crd-two, .sm-crd-thr, .usb, .usb-pwr, .usb-pwr-two, .usb-pwr-thr, .vbr, .mlth{margin:20px 0 0 0;}
.hy-dmg{margin:20px 0 0 0;}
.ph-cl{ margin:20px 0 0 0; background-size:contain; width:50%; padding:50px 0;}
.bck-usr-btm{margin:0;}
.wtr-dmg{background-size:contain; width:35%; padding:40px 0 0 0; margin:30px 0 0 0;}
.txt .bck-usr-btm p{font-size:16px;}
.sngl{margin:10px 0 0 0; padding:140px 0;}
.bck-usr-btm ul li{margin:25px 0 0 0;}
.crs{background-position:center top -114px;}
.rnd{padding:115px 0 60px 0;}
.rp{padding:98px 0 60px 0;}
}



@media only screen and (max-height:736px){
	.inr-btn{margin:107px 0;}
	.btm .logo{margin: 125px 0 10px 0; padding:196px 0 10px 0}
	.inner-cnt .logo-txt p{font-size:18px;}
	.sngl{padding:175px 0; margin:0;}
	.mlth{padding:175px 0;}
	.rp {padding: 140px 0 60px 0;}
	.rnd{padding: 148px 0 60px 0;}
	.crs {background-position: center top -8px;}
	.bck-usr-btm a.clr{margin:123px 0 0 0;}
	.cmr-bck p{text-align:center; width:100%;}
	.prx{margin:90px 0 0 0;}
.prx-two{margin:90px 0 0 0;}
}

	
@media only screen and (max-height:667px){
	.btm .logo{margin: 90px 0 10px 0; padding:160px 0 10px 0}
	.bck-usr-btm a{margin:0;}
	.sngl{padding:145px 0; margin:0;}
	.mlth{padding:145px 0;}
	.rp {padding: 106px 0 60px 0;}
	.rnd {padding: 114px 0 60px 0;}
	.crs {background-position: center top -42px;}
	.bck-usr-btm a.clr{margin:85px 0 0 0;}
	.prx{margin:60px 0 0 0;}
.prx-two{margin:60px 0 0 0;}
}

@media only screen and (max-height:640px){
	.btm .logo{margin: 100px 0 0 0; padding:160px 0 10px 0}
	.bck-usr {
    margin: 32px 0 0 0;
}
	.bck-usr-btm{margin:15px 0 0 0;}
	.bck-usr-btm a{margin:30px 0 0 0;}
	.mlth{padding:130px 0;}
	.rp {padding: 118px 0 60px 0;}
	.rnd {padding: 128px 0 60px 0;}
	.crs {background-position: center top -55px;}
	.bck-usr-btm a.clr{margin:135px 0 0 0;}
}

@media only screen and (max-height:568px){
	.btm .logo{margin:50px 0 0 0; padding:160px 0 10px 0}
	.bck-usr {
    width: 59%;
    padding: 104px 0 25px 0;
    margin: 35px 0 0 0;
}
	.bck-usr-btm a{margin:30px 0 0 0;}
	.mlth{padding:130px 0;}
	.sngl{padding:130px 0; margin:20px 0 0 0;}
	.rp {padding: 116px 0 60px 0;}
	.rnd {padding: 132px 0 60px 0;}
	.crs {background-position: center top -93px;}
	.bck-usr-btm a.clr{margin:135px 0 0 0;}
	.zr .logo{margin:38px 0 16px 0;}
	.dsc .inr-dsc .inner-cnt p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 15px 0;
}
.bck-fgr {
    background-size: contain;
    width: 50%;
    padding: 98px 0;
}
.prx{margin:75px 0 0 0;}
.prx-two{margin:75px 0 0 0;}
.usb-pwr, .usb-pwr-two, .usb-pwr-thr{margin:80px 0 0 0;}
.inr-sec-backg {
    padding: 10px 0 0 0;
}
}

@media only screen and (max-height:533px){
	.sngl{padding:125px 0; margin:0;}
	.mlth{padding:115px 0;}
	.bck-usr-btm a.clr {
    margin: 108px 0 0 0;
}
.inr-btn {
    margin: 92px 0;
}
}

@media only screen and (max-height:480px){
	
.inr-btn {
    margin: 85px 0;
}
	.sngl{padding:100px 0 !important;}
	.mlth{padding:90px 0 !important;}
	.btm .logo{margin: 40px 0 0 0; padding:160px 0 10px 0}
	.rp {padding: 86px 0 60px 0;}
	.crs {background-position: center top -125px;}
	.rnd{padding: 100px 0 60px 0;}
	.bck-usr-btm a.clr{margin:97px 0 0 0;}
	.backg .iner-btn{margin:0;}
	.bck-usr {
    width: 59%;
    padding: 104px 0 25px 0;
    margin: 10px 0 0 0;
}
.bck-usr-btm a {
    margin: 10px 0 0 0;
}
.bck-fgr {
    background-size: contain;
    width: 50%;
    padding: 75px 0;
}
.prx{margin:45px 0 0 0;}
.prx-two{margin:45px 0 0 0;}
.usb-pwr, .usb-pwr-two, .usb-pwr-thr{margin:40px 0 0 0;}
.inr-sec-backg {
    padding: 30px 0 0 0;
}
}
