<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hardware.test" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ClaraByte</name>
    <description>
        
        PhoneTool
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#2196f3" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-android-support-gradle-release" spec="^1.4.3">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-device" spec="~1.1.7-dev" />
    <plugin name="cordova-plugin-file" spec="~4.3.3" />
    <plugin name="cordova-plugin-media-capture" spec="~1.4.4-dev" />
    <plugin name="cordova-plugin-native-ringtones" spec="https://github.com/TongZhangzt/cordova-plugin-native-ringtones.git" />
    <plugin name="cordova-plugin-touch-id" spec="https://github.com/EddyVerbruggen/cordova-plugin-touch-id" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova-plugin-volume-control" spec="https://github.com/jlorente/cordova-plugin-volume-control" />
    <plugin name="cordova-plugin-websocket" spec="^0.12.2" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-battery-status" spec="~1.0.0" />
    <plugin name="cordova-plugin-websocket-server" spec="^1.4.10" />
    <engine name="android" spec="^6.3.0" />
    <engine name="ios" spec="~4.5.2" />
</widget>
